@model BLL.Interfacies.Entities.UserEntity
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" align="center">
            <h3>Profile information</h3>
            <ul class="nav nav-pills nav-stacked" id="mytabs">
                <li>Name: @Model.Profile.FirstName</li>
                <li>Surname: @Model.Profile.LastName</li>
                <li>Age: @Model.Profile.Age</li>
                <li>@Html.ActionLink("Change profile", "FillProfile", "Profile")</li>
            </ul>
            <br/>
            @if (Roles.Provider.IsUserInRole(User.Identity.Name, "admin"))
            {
                <label class="btn .btn-sm btn-block .disabled" style="background: lightgray">Administration Panel</label>
                <a href="/Administration/Approve" class="btn .btn-sm btn-block btn-default">Approve files</a>
                <a href="/Administration/UserManage" class="btn .btn-sm btn-block btn-default">Manage users</a> 
            }
        </div>
        <div class="col-md-9" align="center">
            <h3>Manage files</h3>
            <div>
                @using (Ajax.BeginForm("Upload", "Filework",
                    new AjaxOptions { UpdateTargetId = "searchresults", InsertionMode = InsertionMode.InsertAfter }))
                {
                    <input id="fileInput" name="fileInput" type="file" class="btn .btn-sm btn-default" style="background-color: lightgrey" />
                    <input type="button" value="Upload file" id="btnFileUpload" class="btn .btn-sm btn-success" />
                }
            </div>
            @Html.Action("MyFilesManage", "Administration")
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/jquery-2.1.4.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script type="text/javascript">
        $("#btnFileUpload").click(function () {
            var formData = new FormData();
            var file = document.getElementById("fileInput").files[0];
            var xhr = new window.XMLHttpRequest();
            xhr.open("post", "http://localhost:9026/FileWork/Upload", true);
            formData.append("fileInput", file);
            xhr.send(formData);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    $('#entries').append(xhr.responseText);
                }
            }
        });
    </script>
}