@model BLL.Interfacies.Entities.FileEntity

<tr>
    <td>@Html.DisplayFor(modelItem => Model.Name)</td>
    <td><center>@Html.ActionLink(Model.Private.ToString(), "Privacy", "FileWork", new { id = Model.Id }, null)</center></td>
    <td><center>@Html.DisplayFor(modelItem => Model.Rating)</center></td>
    <td><center>@Html.ActionLink("Delete", "Delete", "FileWork", Model, null)</center></td>
    <td><center>@Html.ActionLink("Download", "Download", "FileWork", Model, null)</center></td>
</tr>