<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <table cellspacing="10%" width="100%">
        <tr>
            <td width="15%">@Html.ActionLink("Main", "Index", "Home")</td>
            <td width="15%">@Html.ActionLink("My Files", "Index", "FileWork")</td>
            <td width="15%">
            @*@if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Administration", "Index", "Administration")
                }*@
            </td>
            <td width="35%"> </td>
            
                @if (User.Identity.IsAuthenticated)
                {
                    <td width="15%">
                        @Html.Label("Welcome: " + User.Identity.Name + " ")
                    </td>
                    <td width="5%">
                        @Html.ActionLink("LogOff", "Logout", "Account")
                    </td>
                }
                else
                {
                    <td width="10%">
                        @Html.Label("Authorize-> ")
                    </td>
                    <td width="5%">
                        @Html.ActionLink("LogIn", "Login", "Account")
                    </td>
                }
                    
        </tr>
    </table>
    <hr />
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
