@model IEnumerable<MvcPL.Models.FileViewModel>

@{
    ViewBag.Title = "Your file lib";
}

<center>
    <h2>Manage your files</h2>
    <table>
        <tr>
            <th>
                Your files list
            </th>
        </tr>
        <tr>
            <th>
                <div>
                    @using (Ajax.BeginForm("Upload",
                        new AjaxOptions { UpdateTargetId = "searchresults", InsertionMode = InsertionMode.InsertAfter }))
                    {
                        <input id="fileInput" name="fileInput" type="file" />
                        <input type="button" value="Upload file" id="btnFileUpload" />
                    }
                </div>
            </th>
        </tr>

    </table>

    <table id="entries">
        <tr>
            <td><center><b>Название файла</b></center></td>
            <td><center><b>Дата загрузки</b></center></td>
            <td><center><b>Удалить</b></center></td>
            <td><center><b>Скачать</b></center></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Загрузить", "Download", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</center>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script type="text/javascript">
        $("#btnFileUpload").click(function() {
            var formData = new FormData();
            var file = document.getElementById("fileInput").files[0];
            var xhr = new XMLHttpRequest();
            xhr.open("post", "http://localhost:9026/FileWork/Upload", true);
            formData.append("fileInput", file);
            xhr.send(formData);
            xhr.onreadystatechange=function() {
                if (xhr.readyState == 4) {
                    $('#entries').append(xhr.responseText);
                }
            }
        });
    </script>
}