@model IEnumerable<MvcPL.Models.FileViewModel>

@{
    ViewBag.Title = "Your file lib";
}

<center>
    <h2>Manage your files</h2>
    <table>
        <tr>
            <th>
                Your files list
            </th>
        </tr>
        <tr>
            <th>
                @Html.ActionLink("Add file","Upload","FileWork")
            </th>
        </tr>

    </table>

    <table id="entries">
        <tr><td><center><b>Название файла</b></center></td><td><center><b>Дата загрузки</b></center></td></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
            </tr>
        }
    </table>
                @*<td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@


</center>
