@model IEnumerable<MvcPL.Models.UserViewModel>

@{
    ViewBag.Title = "Manage users";
}

<h2 align="center">Управление</h2>
<h3 align="center">@Html.ActionLink("Перейти к файлам","ManageFiles",null,null)</h3>
<div align="center">
    @using (Ajax.BeginForm("SearchUEntry",
                        new AjaxOptions { UpdateTargetId = "searchresults", InsertionMode = InsertionMode.Replace }))
    {
        <input id="tagInput" name="tagInput" type="text" />
        <input type="button" value="Поиск" id="btnSearch" />
    }
</div>
<table align="right" width="100%">
    <tr>
        <td width="30%">
            <table>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.ActionLink("Файлы", "ManageFiles", "Administration", item,null)
                        </td>
                        <td>
                            @Html.ActionLink("Удалить пользователя", "Delete", "Account",item,null)
                        </td>
                    </tr>
                }
            </table>
        </td>
        <td width="40%">
        </td>
        <td width="30%">
            <table id="entries">
                
            </table>
        </td>
    </tr>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script type="text/javascript">
        $("#btnSearch").click(function () {
            var formData = new FormData();
            var tag = document.getElementById("tagInput").value;
            var xhr = new XMLHttpRequest();
            xhr.open("post", "http://localhost:9026/Administration/SearchUEntry", true);
            formData.append("tagInput", tag);
            xhr.send(formData);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    $('#entries').replaceWith(xhr.responseText);
                }
            }
        });
    </script>
}