@using MvcPL.Models
@model IEnumerable<MvcPL.Models.ExtendedFileViewModel>

@{
    ViewBag.Title = "Manage files";
}

<h2 align="center">Управление</h2>
<h3 align="center">@Html.ActionLink("Перейти к пользователям", "Index")</h3>

<div align="center">
    @using (Ajax.BeginForm("SearchFEntry",
                        new AjaxOptions { UpdateTargetId = "searchresults", InsertionMode = InsertionMode.Replace }))
    {
        <input id="tagInput" name="tagInput" type="text" />
        <input type="button" value="Поиск" id="btnSearch" />
    }
</div>
<table width="100%">
    <tr>
        <td width="40%">
            <table>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink(item.OwnerName, "ManageFiles", "Administration", new UserViewModel(){UserId = item.OwnerId}, null)
                        </td>
                        <td>
                            @Html.ActionLink("Удалить файл", "Delete", "FileWork", new { id = item.Id }, null)
                        </td>
                        <td>
                            @Html.ActionLink("Загрузить файл", "Download", "FileWork", new FileViewModel()
                            {
                                OwnerId=item.OwnerId,
                                Id=item.Id,
                                Created = item.Created,
                                Name = item.Name
                            }, null)
                        </td>
                    </tr>
                }
            </table>
        </td>
        <td width="20%"></td>
        <td width="40%">
            <table id="entries"></table>
        </td>
    </tr>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <script type="text/javascript">
        $("#btnSearch").click(function () {
            var formData = new FormData();
            var tag = document.getElementById("tagInput").value;
            var xhr = new XMLHttpRequest();
            xhr.open("post", "http://localhost:9026/Administration/SearchFEntry", true);
            formData.append("tagInput", tag);
            xhr.send(formData);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    $('#entries').replaceWith(xhr.responseText);
                }
            }
        });
    </script>
}