@model MvcPL.Models.RegistrationViewModel

@{
    ViewBag.Title = "Index";
}

<center>
    <h2>Register</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
            </div>
            <div class="editor-label">
                @Html.Label("Enter captcha")
            </div>
            <div class="editor-label">
                <label>
                    <img src="@Url.Action("Captcha", "Account")" alt="captcha" />
                </label>
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Captcha)
                @Html.ValidationMessageFor(model => model.Captcha)
            </div>
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Return to main", "Index", "Home")
    </div>
</center>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
